  .container{
    width: 80vw;
    margin: 0 auto;
  }

  .button-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .btn{
    font-size: 18px;
    background-color: #42b983;
    color: white;
    padding: 10px 20px;
  }

  img{
    width: 100%;
    height: auto;
    border-radius: 12px;
  }
